<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>자동차 정보 상세보기</h2>
    <table border="1" width="400">
        <tr>
            <th>NO</th>
            <td><%=car.no%></td>
        </tr>
        <tr>
            <th>NAME</th>
            <td><%=car.name%></td>
        </tr>
        <tr>
            <th>PRICE</th>
            <td><%=car.price%></td>
        </tr>
        <tr>
            <th>YEAR</th>
            <td><%=car.year%></td>
        </tr>
    </table>
</body>
</html>